body {
    width: 100%;
    height: 100%;
    background: rgb(48, 48, 48);
    font-family: monospace;
    color: #fff;
}

a, a:hover {
    color: #fff;
}

.cover {
    background-color: rgba(48,48,48,1);
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/background.png);
    height: 25%;
    width: 100%;
    position: relative;
}

.cover .header {
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
}

.cover .header h1 {
    font-family: fantasy;
}

.cover-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, rgba(48,48,48,1));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 1px;
}

.list {
    max-height: 75%;
    overflow-y: auto;
}

@media(orientation: landscape)
{
    .list {
        overflow-y: initial;
    }
    
    .cover {
        height: 200px;
    }
}

.link-item {
    overflow: hidden;
    margin-top: 15px;
    height: 70px;    
}

.link-item a {
    display: block;
    overflow: hidden;
}

.link-item img {
    max-width: 70px;
}

.link-item a:active {
    background-color: #464545;
}

.link-text, .arrow {
    display: table;
    height: 100%;
}

.link-text span, .arrow span {
    display: table-cell;
    vertical-align: middle;
}

.footer {
    text-align: center;
    margin: 15px 0 30px;
}

.footer img {
    max-width: 25px;
}